@model List<SchoolManagementD.Data.Group> 
@{
    ViewData["Title"] = "Group List";
}

<table class="table table-hover" width="100%">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td>@group.Id</td>
                <td>@group.Name</td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@group.Id">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@group.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>