@{
    ViewData["Title"] = "Privacy Policy";
}

@* <table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var group in groupList)
        {
            <tr>
                <td>@group.Id</td>
                <td>@group.Name</td>
            </tr>
        }
    </tbody>
</table>

 *@