@model SchoolManagementD.Models.StudentForModification
@{
    ViewData["Title"] = "Edit Student";
}

<form asp-action="Edit">
    <div class="row">
        <div class="col-6">
            <label>Name: </label>
            <input class="form-control" asp-for="Name" type="text" />
        </div>
        <div class="col-6">
            <label>Group: </label>
            <select class="form-control" asp-for="GroupId">
                @foreach (var g in Model.Groups)
                {
                    var s = Model.SelectedGroupId == g.Id;
                    <option selected="@s" value="@g.Id">@g.Name</option>
                }
            </select>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>